{{ pgbouncer_logfile }} {
        missingok
        daily
        notifempty
        sharedscripts
        create 0640 {{ pgbouncer_admin_user }} {{ pgbouncer_admin_group }}
        postrotate
                /etc/init.d/pgbouncer -q reload
        endscript
}
